@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:20%;margin-bottom:20%">
    <br />
    <h1 class="display-4">Welcome,</h1>
    <br />
    <p>This is an inventory management system developed by <span id="dleo">Davi Leonardi</span> using ASP.NET MVC.</p>
    <p>Deployed with Azure.</p>
</div>
